@import url('https://fonts.googleapis.com/css?family=Roboto');

:root{
    --bk-1: #ffff;
    --bk-2: #393E46;
    --bk-3: #FFF4E0;
    --bk-4: #171f29;
    --bk-5: #F8B500;
    --bk-6: #1fd030;
    --bk-7: rgba(0, 0, 10, 0.6);
    --bk-8: beige; 

    --clr-dark: rgba(0,0,0,.25);
    --clr-body: rgba(255,255,255,.8);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo .img {
    height: 30px;
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--bk-3);
}

a {
    all: unset;
    font-size: 1.1em;
}

li a {
    cursor: pointer;
}

header {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background: var(--bk-2);
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span, 
.nav-toggle-label span::before, 
.nav-toggle-label span::after {
    display: block;
    background: black;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before, 
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: center;
    top: 100%;
    left: 0;
    background: rgba(8, 42, 48, 0.678);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 300ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    opacity: 0;
    transform: opacity 150ms ease-in-out;
}

nav a:hover{
    color: var(--bk-5)
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 900px) {
    .nav-toggle-label {
        display: none;
    }
    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;
    }
    .logo{
        grid-column: 2/ 3;
    }
    nav {
        all: unset;
        grid-column: 3/ 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    nav a {
        opacity: 1;
        position: relative;
    }
    nav ul {
        display: flex;
    }
    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }
    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: black;
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform:  scale(0, 1);
         transform-origin: top; 
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before{
        transform: scale(1,1);
    }
}

/* CONTENT */

#content {
    background: #f4f4f4;
    padding: 10px;
    padding-top: 100px;
    display: grid;
    grid-template-columns: 30% 65%;
    grid-template-rows: 200px 1fr;
    height: 100%;
    width: 100%;
}

/* CONTENT profile */
#profile {
    grid-column: 1;
    grid-row: 1;
    background-color: #cfebf7;
    background-image: linear-gradient(rgba(0,0,0,0), #87e54b);
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#profile .avi {
    padding-bottom: 20px;
}
#profile #details {
    display: flex;
    flex-direction: column;
    color: black;
    align-items: flex-start;
    justify-content: center;
    font-weight: 400;
    padding-top: 10px;
}
#details > * {
    padding: 7px;
    font-size: 1.25em;
    font-weight: 700;
}

/* CONTENT categories */

#categories {
    grid-column: 2;
    grid-row: 1;
    /* background-color: #c6edad;
    background-image: linear-gradient(rgba(0,0,0,0), #87e54b); */
    background-color: #cfebf7;
    border-radius: 10px;
    padding: 5px;
    font-weight: 500;
    font-size: 1.05rem;
    align-items: center;
    color: #040007;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#categories > * {
    padding: 10px;
}

#recent-posts {
    grid-column: 1/-1;
    grid-row: 2;
    padding: 20px;
    background-color: #e8f8ff;
    height: 90%;
    margin-top: 0.8%;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: black;
}
.me a {
    color: #020007;
}

tbody tr td {
    padding: 10px;
}



/* EDIT PAGE */
.adjust .edit {
    background: green;
    padding: 5px 10px;
    border-radius: 10px 5px;
    color: #fff;
    align-self: flex-end;
}

.adjust .edit:active {
    background: #19E6A8;
}

.adjust .edit:hover {
    color: black;
}

.adjust .delete {
    background: red;
    padding: 5px 10px;
    border-radius: 10px 5px;
    color: #fff;
    align-self: flex-end;
}

.adjust .delete:active {
    background: #e8235a;
}

.adjust .delete:hover {
    color: black;
}




@media screen and (max-width: 900px){
    #papa {
        display: grid;
        grid-template-rows: 50px 1fr 50px;
        grid-template-columns: 1fr;
    }
    #papa #navigation {
        grid-row: 1;
        grid-column: 1;
    }
    #navigation ul {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        height: 0;
        align-items: center;
    }
    #navigation li {
        border-bottom: none;
        color: black;
    }
    /* CONTENT */
    #content {
        margin-top: 40px;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        height: 100%;
    }

    /* CONTENT profile */
    #profile {
        display: none;
    }
    #categories {
        display: none;
    }
    #recent-posts {
        grid-column: 1;
        grid-row: 1;
        margin: 10px auto;
        height: 100%;
    }
}



@media screen and (min-width: 900px){
    #papa #navigation {
        height: 100%;
    }
}